*{
    margin: 0;
    padding: 0;
}

.heading{
    color: green;
    background-color: black;
    padding: 11px;
    margin: 4px;
    text-align: center;

}

.card{

    background-color: indianred;
    box-shadow: 2px 4px 4px grey;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 390px;
    
    display: inline-block;
     
}


.card2{
    background-color: green;
    box-shadow: 2px 4px 4px grey;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 390px;

    display: inline-block;

}

.cardTitle{
    color: white;
   
     
}

.des{
    margin-top: 4px;
}

.btn1{
    width: 100px;
    height: 22px;
    margin-left: 1rem;
    background-color: green;
}
.btn2 {
    width: 100px;
    height: 22px;
    margin-left: 4rem;
    text-align: center;
    background-color: orange;
}

.ctext{
    font-size: 3rem;
    padding: 10px;

    color: orangered;
}